/*
 *
 * Fundamental Styles
 *
 */

html,
body {
  background: #05332d;
}

#root {
  background-size: cover;
  //: $background-gradient;
}

.App {
  min-height: 100vh;
  position: relative;
}

.App:after {
  z-index: 4000;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}