/*
 *
 * Fundamental Styles
 *
 */

html,
body {
  background: #05332d;
}

#root {
  background-size: contain;
  background: url("https://image.tmdb.org/t/p/original//5kYj5EOQMFBFCdnk4X8KaFUfDVR.jpg") top center;
}

.App {
  min-height: 100vh;
  background-image: $background-gradient;
}